/* section{
    display: flex;
    flex-direction: column;
} */

.HomeTextContainer{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}