.projectCard{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 5px 10px #888888;
    background-color: #cccccc;
      
}

@media (max-width: 760px){
    .projectCard{
        width: 100%;
        border-top: 2px solid black;
    }
}

.projectCard h3{
    text-align: end;
    width: 95%;
    margin-bottom: 10px;
    font-size: 20px;

}
.projectCard .cardContainer{
    width: 100%;
}

.projectCard img{
    width: 90%;
}

.projectCard p{
    width: 90%;
    font-size: 16px;
    margin-top: 10px;
}

.projectCard .projectButton{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
    
}

.projectCard .projectButton button{
    background-color: #f8f8ff;
}


